/**
 * Layout - Header
 */

$header-height:  4.5rem !default;

.header {
  height: $header-height;

  &__inner {
    height: 100%;
    background-color: $body-bg;
  }

  &__container {
    @include container();
    height: 100%;
  }
}
