/**
 * Project - Post List
 */

.postList {
  &.--grid {
    @include row();

    .post {
      @include col(4, false, "md");
      margin-bottom: space("medium");
    }

    .postItem {
      &__heading {
        font-size: font-size("medium");
      }

      &__excerpt, &__more {
        @include small-text();
      }

      &__more {
        text-align: center;
      }
    }
  }

  &.--list {
    .post {
      margin-bottom: space("medium");
      padding-bottom: space("medium");
      border-bottom: 1px solid theme-color('dark');

      &:last-child {
        border: 0;
      }
    }

    .postItem {
      @include row(center);
      gap: 0 !important;

      &__image {
        @include col(3, ture, "md");
        
        figure {
          margin: 0;
        }

        img {
          aspect-ratio: $img-aspect-ratio;
          object-fit: cover;
        }
      }

      &__content {
        @include col(6, ture, "md");
      }

      &__heading {
        font-size: font-size("large");
      }

      &__excerpt, &__more {
        @include small-text();
      }

      &__more {
        text-align: right;
      }
    }
  }
}
