/**
 * Project - Post Item
 */

.postItem {
  &__image {
    img {
      aspect-ratio: $img-aspect-ratio;
      object-fit: cover;
    }
  }

  &__info {
    margin-top: space();
    margin-bottom: space("x-small");
    font-size: font-size("small");
  }

  &__heading {
    margin-top: space();
    margin-bottom: space("x-small");
    font-size: font-size("large");
  }

  &__excerpt {
    margin-bottom: space("x-small");
  }

  &.--single {
    .postItem {
      &__image {
        @include col(4, true);
      }

      &__content {
        @include col(5, true);
        margin-bottom: space("large");
      }
    }
  }
}
